{% extends 'base.html' %}

{% block content %}
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/add-genre" class="btn btn-primary" type="button">Add genre</a>
    </div>

    <br>

    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Genre name</th>
            <th>Link 1</th>
            <th>Link 2</th>
        </tr>
        </thead>

        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre[0] }}</td>
                <td>{{ genre[1] }}</td>
                <td>
                    <a href="./{{ genre[0] }}/delete" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a href="./{{ genre[0] }}/edit" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}